@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
	--vivid-sky-blue: #3cf;
	--manatee: #9c9fab;
	--cultured: #f4f4f6;
	--eerie-black: #1c1d21;
	--light-gray: #d3d4d9;
	--black-coral: #676b79;
	--han-purple: #33f;
	--ghost-white: #fbfbff;
	--lavender-web: #e7e7ff;
	--white: #fff;
	--rusty-red: #de3c4b;
}

/* now_popularity (지금 인기있는 인플루언서) */

main > .now_popularity {
	width: 130rem;
	height: 38rem;
	margin: 0 auto;
	margin-top: 14.4rem;
	display: flex;
}

main > .now_popularity > .now_left {
	width: 42rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

main > .now_popularity > .now_left > h1 {
	font-size: 3.2rem;
	font-weight: 400;
	color: var(--eerie-black);
}

main > .now_popularity > .now_left > h1 > span {
	font-weight: bold;
	color: var(--eerie-black);
}

main > .now_popularity > .now_left > h1 > #now_main {
	color: var(--han-purple);
}

main > .now_popularity > .now_left > .now_controll {
	width: 32rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.now_left > .now_controll > .now_arrow > .arrow {
	width: 3.5rem;
	height: 3.5rem;
}

.now_left > .now_controll > .now_arrow > .arrow_left {
	margin-right: 2rem;
	transform: rotate(180deg);
}

.now_left > .now_controll > .now_arrow > .arrow_active {
	opacity: 0.5;
}

.now_left > .now_controll > .now_more > span > a {
	font-size: 1.4rem;
	font-weight: normal;
	color: var(--han-purple);
}

.now_left > .now_controll > .now_more > span > a:hover {
	text-decoration: underline;
}

main > .now_popularity > .now_right {
	width: 88rem;
	height: 38rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main > .now_popularity > .now_right > .pop_card {
	width: 37rem;
	height: 35rem;
	background-color: red;
}
