<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapperInterface.MemberMapper">
	<select id="selectOne" resultType="vo.MemberVO">
  		select *
		from member
		where id =#{id}
  	</select>
  	
  	<select id="imgOne" resultType="vo.MemberVO">
	  		select substr(a.subscribe,1,3)as subscribe, a.seq, a.name, a.introduce ,a.image ,b.job 
			from ytube a join address b 
			on a.name = b.name
			where b.job like (
			select concat(substr(#{interest},1,2),"%")as interest 
			from member 
			where interest is not null)
			order by subscribe desc
  	</select>
  	
  	<insert id="insert">
  		insert into member values(#{id},#{password},#{email},#{nick_name},#{birth},#{gender},#{color},#{interest})
  	</insert>
  	
  </mapper>