<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapperInterface.MylistMapper">
  	<select id="selectList" resultType="vo.MylistVO">
  	select *
  	from mylist
  	where id = #{id}
  	</select>
  	
  	<insert id="myinsert">
  	insert into mylist(id,name)
  	values(#{id},#{name})
  	</insert>
  	
  	<delete id="mydelete">
  	delete from mylist where id = #{id} and name = #{name}
  	</delete>
  	
  	<select id="poplevel" resultType="vo.MageCriVO" parameterType="java.lang.String">
	select distinct t1.name, t1.age, t1.count from aa as t1, (select name, max(count)as max from aa group by name)as t2
              where t1.name = t2.name and t1.count = t2.max
              order by count desc;
	</select>
  </mapper>