<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapperInterface.YtubeMapper">
  
  <select id="selectList" resultType="vo.YtubeVO">	
  	select row_number()over(order by good desc) seq,
	a.name name, a.subscribe, a.introduce, b.job, a.image,
	b.youtube_addr, b.insta_addr, b.default_addr, a.good
	from ytube a join address b
	on a.name= b.name
  </select>
  
  <select id="detail" resultType="vo.YtubeVO">	
  	select row_number()over(order by good desc) seq,
	a.name name, a.subscribe, b.job, a.image,a.good
	from ytube a join address b
	on a.name= b.name
	where a.name = #{name}
  </select>

  <select id="interlist" resultType="vo.YtubeVO">	
  	select row_number()over(order by good desc) seq,
	a.name name, a.subscribe, b.job, a.image, a.good
	from ytube a join address b
	on a.name= b.name
	where b.job = #{interest} and a.name = #{name}
  </select>
  
  <update id="countup">
  	update ytube 
  	set good = good+1 where name = #{name}
  </update>
  
  <update id="countdown">
  	update ytube
  	set good = good-1 where name = #{name}
  </update>
  
  <insert id="insert">
  	insert into ytube(name,subscribe,introduce,image) 
  	values(#{name},#{subscribe},#{introduce},#{image})
  </insert>
  
  <select id="imgOne" resultType = "vo.YtubeVO">
  	select a.subscribe as subscribe, a.seq, a.name, a.introduce ,a.image ,b.job 
	from ytube a join address b 
	on a.name = b.name
	where b.job like (
	select concat(substr(#{interest},1,2),"%")as interest 
	from member 
	where interest is not null
	limit 1)
	order by subscribe desc
  </select>
  	
  <select id="intera" resultType = "vo.YtubeVO">
  	select row_number()over(order by good desc) seq,
  	a.name name, a.subscribe, a.introduce, b.job, a.image,
  	b.youtube_addr, b.insta_addr, b.default_addr, a.good
	from ytube a join address b
	on a.name= b.name
	where trim(job) = #{interest}
	order by seq
  </select>
  </mapper>