@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
	--vivid-sky-blue: #3cf;
	--manatee: #9c9fab;
	--cultured: #f4f4f6;
	--eerie-black: #1c1d21;
	--light-gray: #d3d4d9;
	--black-coral: #676b79;
	--han-purple: #33f;
	--ghost-white: #fbfbff;
	--lavender-web: #e7e7ff;
	--white: #fff;
	--rusty-red: #de3c4b;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #000;
	list-style: none;
	font-family: Pretendard;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--ghost-white);
}

.hidden {
	overflow: hidden;
	position: absolute;
	left: -9999px;
	top: -9999px;
	font-size: 0;
	line-height: 0;
	font-size: 0;
	width: 0;
	height: 0;
}