@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
	--vivid-sky-blue: #3cf;
	--manatee: #9c9fab;
	--cultured: #f4f4f6;
	--eerie-black: #1c1d21;
	--light-gray: #d3d4d9;
	--black-coral: #676b79;
	--han-purple: #3333ff;
	--ghost-white: #fbfbff;
	--lavender-web: #e7e7ff;
	--white: #fff;
	--rusty-red: #de3c4b;
}

body {
	background-color: var(--ghost-white);
}

.container {
	width: 70rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 8rem;
}

.container > h1 > img {
	width: 6.7rem;
	height: 3.4rem;
	margin-top: 8rem;
	margin-bottom: 6rem;
}

.container > .form_box {
	width: 70rem;
	box-shadow: 0 1rem 3.5rem 0 rgba(28, 29, 33, 0.05);
	border-radius: 1rem;
}

.container > .form_box > form {
	width: 50rem;
	margin: 0 auto;
}

.container > .form_box > h1 {
	margin-top: 4rem;
	margin-bottom: 3rem;
	margin-left: 10rem;
	font-size: 3.2rem;
	color: var(--han-purple);
}

.container > .form_box .line {
	height: 1px;
	margin: 29px 0 0;
	opacity: 0.6;
	background-color: var(--light-gray);
}

.container > .form_box > form > .input_box {
	/* margin-top: 5rem; */
	/* margin-bottom: 3rem; */
}

.container > .form_box > form > .input_box:nth-child(1) {
	margin-top: 5rem;
}
form > .input_box > p {
	font-size: 2rem;
	font-weight: bold;
	color: var(--black-coral);
	margin-bottom: 1.2rem;
}

form > .input_box > input {
	width: 50rem;
	padding: 2rem;
	font-size: 2rem;
	border: none;
	outline: none;
	color: var(--han-purple);
	font-weight: bold;
	border-radius: 1rem;
}

form > .input_box > input::placeholder {
	font-weight: normal;
}

form > .input_box > input:focus {
	outline: 0.1rem solid var(--han-purple);
}

.container > .form_box > form > #submit_btn {
	margin: 5rem 0;
	width: 100%;
	height: 6.8rem;
	background-color: var(--han-purple);
	font-size: 2.2rem;
	color: var(--white);
	border-radius: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	line-height: center;
	display:flex;
	justify-content: center;
	align-items:center;
}

form > .input_box > .email_box {
	display: flex;
	align-items: center;
}

form > .input_box > .email_box > input {
	width: 22.5rem;
	height: 6.4rem;
	padding: 2rem;
	border: none;
	outline: none;
	color: var(--han-purple);
	font-size: 2rem;
	border-radius: 1rem;
	font-weight: bold;
}

form > .input_box > .email_box > p {
	font-size: 2rem;
	margin: 0rem 1.6rem;
}

form > .input_box > .email_box > select {
	width: 22.5rem;
	height: 6.4rem;
	border: none;
	outline: none;
	border-radius: 1rem;
	font-size: 2rem;
	padding: 2rem;
	color: var(--han-purple);
	font-weight: bold;
}

form > .input_box > .email_box > input:focus {
	outline: 0.1rem solid var(--han-purple);
}

form > .input_box > .email_box > select:focus {
	outline: 0.1rem solid var(--han-purple);
}

form > .input_box > .male_box {
	display: flex;
	margin-bottom: 3rem;
}

form > .input_box > .male_box > div {
	display: flex;
	align-items: center;
	margin-right: 3.8rem;
}

form > .input_box > .male_box > div > input {
	width: 1.8rem;
	height: 1.8rem;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: solid 0.2rem var(--light-gray);
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

form > .input_box > .male_box > div > input:checked {
	background-color: var(--han-purple);
	border: none;
}

.input_box > .male_box > div > p > label {
	font-size: 2rem;
	margin-left: 1.6rem;
	cursor: pointer;
}

.color_box > select {
	width: 100%;
	height: 6.4rem;
	padding: 2rem;
	border: none;
	outline: none;
	font-size: 2rem;
	color: var(--han-purple);
	font-weight: bold;
	border-radius: 1rem;
}

.color_box > select:focus {
	outline: 0.1rem solid var(--han-purple);
}

form > div .check_text {
	margin-top: 0.5rem;
	width: 100%;
	height: 2.5rem;
}

form div > span {
	font-size: 1.5rem;
	color: var(--han-purple);
}