@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
		'Noto Sans KR', 'Malgun Gothic', sans-serif;

	--vivid-sky-blue: #3cf;
	--manatee: #9c9fab;
	--cultured: #f4f4f6;
	--eerie-black: #1c1d21;
	--light-gray: #d3d4d9;
	--black-coral: #676b79;
	--han-purple: #33f;
	--ghost-white: #fbfbff;
	--lavender-web: #e7e7ff;
	--white: #fff;
	--rusty-red: #de3c4b;
}

header {
	height: 9rem;
	background-color: red;
}

#main_container {
	background-color: var(--ghost-white);
}

.container {
	width: 130rem;
	margin: 0 auto;
}

#user {
	margin-top: 5rem;
	margin-bottom: 3rem;
	font-size: 2.4rem;
}

#user > span {
	font-size: inherit;
	font-weight: 500;
	color: var(--eerie-black);
}

.main {
	display: flex;
	align-items: center;
	margin-bottom: 8rem;
}

.category {
	width: 18.5rem;
	height: 66rem;
	box-shadow: 0 5px 20px 0 rgba(28, 29, 33, 0.04);
	background-color: var(--white);
	border-radius: 1rem;
	margin-right: 3.5rem;
}

.category > form {
	padding: 1.2rem 1rem;
}

.category > form > ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

ul > .reset {
	width: 16.5rem;
	height: 6rem;
	display: flex;
	align-items: center;
	padding: 16px 10px 20px 20px;
}

.reset > h1 {
	font-size: 1.8rem;
}

.reset > button {
	outline: none;
	border: none;
	padding: 5px 10px;
	margin-left: 2rem;
	border-radius: 5rem;
	color: var(--han-purple);
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}

ul > li {
	width: 16.5rem;
	height: 4.8rem;
	display: flex;
	align-items: center;
	padding: 12px 58px 12px 25px;
}

ul > li > label {
	font-size: 1.6rem;
	margin-left: 3rem;
	color: var(--manatee);
	cursor: pointer;
}

ul > li > input {
	width: 1.8rem;
	height: 1.8rem;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: solid 0.2rem var(--light-gray);
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
}

ul > li > input:checked {
	background-color: var(--han-purple);
	border: none;
}

.inf_list {
	width: 109rem;
	height: 66rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.inf_list > img {
	margin-top: 13.3rem;
}

.inf_list > h1 {
	font-size: 3.2rem;
	color: var(--black-coral);
	margin-top: 7.6rem;
	margin-bottom: 2.5rem;
}

.inf_list > p {
	font-size: 2.2rem;
	font-weight: normal;
	color: var(--manatee);
	margin-bottom: 7.6rem;
}

.inf_list > p > span {
	font-size: inherit;
	font-weight: bold;
	color: var(--manatee);
}

.btn_box {
	width: 50rem;
	display: flex;
	justify-content: space-between;
}

.btn {
	width: 24.5rem;
	height: 6.8rem;
	font-size: 2.2rem;
	border: none;
	outline: none;
	border-radius: 1rem;
	cursor: pointer;
	font-weight: bold;
}

.main_btn {
	color: var(--han-purple);
	border: solid 1px var(--han-purple);
	background-color: var(--white);
}

.rank_btn {
	color: var(--white);
	background-color: var(--han-purple);
}

footer {
	width: 100%;
	height: 33rem;
	background-color: red;
}

/* Card */

.card {
	width: 93rem;
	height: 17rem;
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 5px 20px 0 rgba(28, 29, 33, 0.04);
}

.card_left {
	display: flex;
	align-items: center;
	margin-left: 3rem;
}

.card_left > img {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

.about_youtuber {
	margin-left: 4rem;
}

.about_youtuber h1 {
	color: var(--eerie-black);
	font-size: 2.2rem;
}

.about_youtuber > h3 {
	margin-top: 0.8rem;
	margin-bottom: 2rem;
	font-size: 1.8rem;
	color: var(--manatee);
	font-weight: normal;
}

.about_youtuber > span {
	padding: 4px 6px;
	border-radius: 4px;
	background-color: var(--lavender-web);
	font-size: 1.4rem;
	color: var(--han-purple);
	font-weight: 600;
}

.card_right {
	margin-right: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card_right > img {
	width: 3.2rem;
	height: 3.2rem;
	margin-top: 3.4rem;
}

.card_right > a {
	font-size: 1.4rem;
	margin-bottom: 3rem;
	color: var(--han-purple);
}
